:host{
  display: block;
}

.git__center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.git__row{
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
}

.git__col{
    padding-left:2px;
    padding-right:2px;
}

.git__col-0{
    width: 100%;
    flex: 0 0 0;
    max-width: 0%;
}

.git__col-1{
    width: 100%;
    flex: 0 0 8.333;
    max-width: 8.333%;
}

.git__col-2{
    width: 100%;
    flex: 0 0 16.666;
    max-width: 16.666%;
}

.git__col-3{
    width: 100%;
    flex: 0 0 25;
    max-width: 25%;
}

.git__col-4{
    width: 100%;
    flex: 0 0 33.333;
    max-width: 33.333%;
}

.git__col-5{
    width: 100%;
    flex: 0 0 41.666;
    max-width: 41.666%;
}

.git__col-6{
    width: 100%;
    flex: 0 0 50;
    max-width: 50%;
}

.git__col-7{
    width: 100%;
    flex: 0 0 58.333;
    max-width: 58.333%;
}

.git__col-8{
    width: 100%;
    flex: 0 0 66.666;
    max-width: 66.666%;
}

.git__col-9{
    width: 100%;
    flex: 0 0 75;
    max-width: 75%;
}

.git__col-10{
    width: 100%;
    flex: 0 0 83.333;
    max-width: 83.333%;
}

.git__col-11{
    width: 100%;
    flex: 0 0 91.666;
    max-width: 91.666%;
}

.git__col-12{
    width: 100%;
    flex: 0 0 100;
    max-width: 100%;
}

@media only screen and (max-width: 595px) {
    .git__col-0-xs{
        width: 100%;
        flex: 0 0 0;
        max-width: 0%;
    }

    .git__col-1-xs{
        width: 100%;
        flex: 0 0 8.333;
        max-width: 8.333%;
    }

    .git__col-2-xs{
        width: 100%;
        flex: 0 0 16.666;
        max-width: 16.666%;
    }

    .git__col-3-xs{
        width: 100%;
        flex: 0 0 25;
        max-width: 25%;
    }

    .git__col-4-xs{
        width: 100%;
        flex: 0 0 33.333;
        max-width: 33.333%;
    }

    .git__col-5-xs{
        width: 100%;
        flex: 0 0 41.666;
        max-width: 41.666%;
    }

    .git__col-6-xs{
        width: 100%;
        flex: 0 0 50;
        max-width: 50%;
    }

    .git__col-7-xs{
        width: 100%;
        flex: 0 0 58.333;
        max-width: 58.333%;
    }

    .git__col-8-xs{
        width: 100%;
        flex: 0 0 66.666;
        max-width: 66.666%;
    }

    .git__col-9-xs{
        width: 100%;
        flex: 0 0 75;
        max-width: 75%;
    }

    .git__col-10-xs{
        width: 100%;
        flex: 0 0 83.333;
        max-width: 83.333%;
    }

    .git__col-11-xs{
        width: 100%;
        flex: 0 0 91.666;
        max-width: 91.666%;
    }

    .git__col-12-xs{
        width: 100%;
        flex: 0 0 100;
        max-width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .git__col-0-sm{
        width: 100%;
        flex: 0 0 0;
        max-width: 0%;
    }

    .git__col-1-sm{
        width: 100%;
        flex: 0 0 8.333;
        max-width: 8.333%;
    }

    .git__col-2-sm{
        width: 100%;
        flex: 0 0 16.666;
        max-width: 16.666%;
    }

    .git__col-3-sm{
        width: 100%;
        flex: 0 0 25;
        max-width: 25%;
    }

    .git__col-4-sm{
        width: 100%;
        flex: 0 0 33.333;
        max-width: 33.333%;
    }

    .git__col-5-sm{
        width: 100%;
        flex: 0 0 41.666;
        max-width: 41.666%;
    }

    .git__col-6-sm{
        width: 100%;
        flex: 0 0 50;
        max-width: 50%;
    }

    .git__col-7-sm{
        width: 100%;
        flex: 0 0 58.333;
        max-width: 58.333%;
    }

    .git__col-8-sm{
        width: 100%;
        flex: 0 0 66.666;
        max-width: 66.666%;
    }

    .git__col-9-sm{
        width: 100%;
        flex: 0 0 75;
        max-width: 75%;
    }

    .git__col-10-sm{
        width: 100%;
        flex: 0 0 83.333;
        max-width: 83.333%;
    }

    .git__col-11-sm{
        width: 100%;
        flex: 0 0 91.666;
        max-width: 91.666%;
    }

    .git__col-12-sm{
        width: 100%;
        flex: 0 0 100;
        max-width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .git__col-0-md{
        width: 100%;
        flex: 0 0 0;
        max-width: 0%;
    }

    .git__col-1-md{
        width: 100%;
        flex: 0 0 8.333;
        max-width: 8.333%;
    }

    .git__col-2-md{
        width: 100%;
        flex: 0 0 16.666;
        max-width: 16.666%;
    }

    .git__col-3-md{
        width: 100%;
        flex: 0 0 25;
        max-width: 25%;
    }

    .git__col-4-md{
        width: 100%;
        flex: 0 0 33.333;
        max-width: 33.333%;
    }

    .git__col-5-md{
        width: 100%;
        flex: 0 0 41.666;
        max-width: 41.666%;
    }

    .git__col-6-md{
        width: 100%;
        flex: 0 0 50;
        max-width: 50%;
    }

    .git__col-7-md{
        width: 100%;
        flex: 0 0 58.333;
        max-width: 58.333%;
    }

    .git__col-8-md{
        width: 100%;
        flex: 0 0 66.666;
        max-width: 66.666%;
    }

    .git__col-9-md{
        width: 100%;
        flex: 0 0 75;
        max-width: 75%;
    }

    .git__col-10-md{
        width: 100%;
        flex: 0 0 83.333;
        max-width: 83.333%;
    }

    .git__col-11-md{
        width: 100%;
        flex: 0 0 91.666;
        max-width: 91.666%;
    }

    .git__col-12-md{
        width: 100%;
        flex: 0 0 100;
        max-width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .git__col-0-lg{
        width: 100%;
        flex: 0 0 0;
        max-width: 0%;
    }

    .git__col-1-lg{
        width: 100%;
        flex: 0 0 8.333;
        max-width: 8.333%;
    }

    .git__col-2-lg{
        width: 100%;
        flex: 0 0 16.666;
        max-width: 16.666%;
    }

    .git__col-3-lg{
        width: 100%;
        flex: 0 0 25;
        max-width: 25%;
    }

    .git__col-4-lg{
        width: 100%;
        flex: 0 0 33.333;
        max-width: 33.333%;
    }

    .git__col-5-lg{
        width: 100%;
        flex: 0 0 41.666;
        max-width: 41.666%;
    }

    .git__col-6-lg{
        width: 100%;
        flex: 0 0 50;
        max-width: 50%;
    }

    .git__col-7-lg{
        width: 100%;
        flex: 0 0 58.333;
        max-width: 58.333%;
    }

    .git__col-8-lg{
        width: 100%;
        flex: 0 0 66.666;
        max-width: 66.666%;
    }

    .git__col-9-lg{
        width: 100%;
        flex: 0 0 75;
        max-width: 75%;
    }

    .git__col-10-lg{
        width: 100%;
        flex: 0 0 83.333;
        max-width: 83.333%;
    }

    .git__col-11-lg{
        width: 100%;
        flex: 0 0 91.666;
        max-width: 91.666%;
    }

    .git__col-12-lg{
        width: 100%;
        flex: 0 0 100;
        max-width: 100%;
    }
}